@import "tailwindcss";

:root {
  --background: #fdf6dc;
  --foreground: #283517;

  --design-01-background: #fdf6dc;
  --design-01-primary: #566b30;
  --design-01-dark: #283517;
  --design-01-white: #ffffff;

  --font-altivo: "altivo", sans-serif;
  --font-script: var(--font-la-belle-aurore);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-altivo);
  --font-script: var(--font-script);
}

html {
  background: var(--background);
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-altivo);
}